@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

html {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23FAF9F6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%23fffefe'/%3E%3Cstop offset='1' stop-color='%23f3f2ee'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%23fefefd'/%3E%3Cstop offset='1' stop-color='%23ebeae6'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%23fefdfd'/%3E%3Cstop offset='1' stop-color='%23e4e3de'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%23fdfdfc'/%3E%3Cstop offset='1' stop-color='%23dddcd6'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%23fdfcfb'/%3E%3Cstop offset='1' stop-color='%23d6d4ce'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%23fcfcfa'/%3E%3Cstop offset='1' stop-color='%23cecdc6'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%23fcfbf9'/%3E%3Cstop offset='1' stop-color='%23c7c5be'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%23fbfbf8'/%3E%3Cstop offset='1' stop-color='%23c0beb6'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%23fbfaf8'/%3E%3Cstop offset='1' stop-color='%23b9b7ae'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%23fafaf7'/%3E%3Cstop offset='1' stop-color='%23b1afa6'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%23FAF9F6'/%3E%3Cstop offset='1' stop-color='%23AAA89E'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.whatido {
  font-family: 'Syne', sans-serif;
}

.hover-trigger .hover-target {
  opacity: 0;
  transition-duration: 300ms;
}

.hover-trigger:hover .hover-target {
  opacity: 1;
}

.hover-trigger:hover .hover-image {
  transform: scale(1.1);
}

.hover-image {
  transition-duration: 400ms;
}

.bar {
  height: 2px;
  width: 40px;
}

.arrow {
  transition-duration: 100ms;
}

.arrow:hover {
  transform: scale(1.1);
}

.vr {
  max-width: 600px;
}

.card {
  height: 28rem;
  margin: 10px;
  padding: 2%;
  position: relative;
}

.hover-card {
  transition-duration: 300ms;
}

.hover-card:hover {
  transform: scale(1.05);
}

.project-hero {
  min-height: 90vh;
}

@media (max-width: 800px) {
  .computer {
    max-width: 420px;
  }
}

@media (max-width: 500px) {
  .computer {
    max-width: 320px;
  }
}
