@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

.hover-trigger .hover-target {
  opacity: 0;
  transition-duration: 300ms;
}

.hover-trigger:hover .hover-target {
  opacity: 1;
}

.hover-trigger:hover .hover-image {
  transform: scale(1.1);
}

.hover-image {
  transition-duration: 400ms;
}

.bar {
  height: 2px;
  width: 40px;
}

.arrow {
  transition-duration: 100ms;
}

.arrow:hover {
  transform: scale(1.1);
}

.vr {
  max-width: 600px;
}

.card {
  height: 28rem;
  margin: 10px;
  padding: 2%;
  position: relative;
}

.hover-card {
  transition-duration: 300ms;
}

.hover-card:hover {
  transform: scale(1.05);
}
