@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.animate {
  opacity: 1;
  transform: rotateX('0deg'), skewY("0deg");
  transition-duration: 0.3ms;
}

.bar {
  height: 2px;
  width: 40px;
}