@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

.hover-trigger .hover-target {
  opacity: 0;
  transition-duration: 300ms;
}

.hover-trigger:hover .hover-target {
  opacity: 1;
}

.hover-trigger:hover .hover-image {
  transform: scale(1.1);
}

.hover-image {
  transition-duration: 400ms;
}

.bar {
  height: 2px;
  width: 40px;
}

.card {
  height: 30rem;
  margin-right: 0 !important;
}

.arrow {
  transition-duration: 100ms;
}

.arrow:hover {
  transform: scale(1.1);
}